/* Chatbot.css */
.chatbot-popup {
    position: absolute;
    bottom: 0px;
    right: 260px;
    background-color: #F2F2EB;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    color: black;
    width: 230px;
    max-height: 300px;
    /* Limit maximum height */
    overflow-y: auto;
}

.chat-history-container {
    flex: 1;
}

.chatbot-popup.open {
    transform: translateX(0);
}

.toggle-chat {
    position: fixed;
    /* Position fixed for viewport-relative positioning */
    bottom: 560px;
    /* Adjust as needed */
    right: 160px;
    /* Adjust as needed */
    z-index: 1000;
    /* Ensure the icon is above other elements */
    color: #033E8C;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
}



.toggle-chat:focus {
    outline: none;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Align items to the bottom */
    height: 100%;
}

.fixed-message {
    margin-bottom: 10px;
    /* text-align: left; */
}

.input-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.input-container input[type="text"] {
    flex: 1;
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid #033E8C;
    /* Change border color to blue */
}

.send-button {
    background-color: #033E8C;
    /* Blue color */
    color: #fff;
    /* White text color */
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 15%;
}

.send-button:hover {
    background-color: #002b5c;
    /* Darker blue on hover */
}

.message {
    margin-bottom: 10px;
    /* Add margin between messages */
    text-align: left;
    /* Align messages to the left */
}

.message-content {
    display: flex;
    flex-direction: column;
    /* Display sender label and message text in a column */
}

.sender-label {
    font-weight: bold;
    /* Make sender labels bold */
    margin-bottom: 3px;
    /* Add margin between sender label and message text */
}

.message-text {
    word-wrap: break-word;
    /* Wrap long messages */
    white-space: pre-wrap;
    /* Preserve whitespace */
}