/* Chatbot.css */
.chatbot-popup {
    position: absolute;
    bottom: 5px;
    right: 260px;
    background-color: #0D0C0C;
    border-radius: 15px;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    color: black;
    width: 250px;
    max-height: 360px;
    overflow-y: auto;
}

.chatbot-popup.open {
    transform: translateX(0);
}

.chatbot-container.scrolled .toggle-chat {
    position: fixed;
    top: 15px;
    right: 125px;
}

.toggle-chat {
    position: absolute;
    top: 50px;
    right: 130px;
    z-index: 999;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
}

.toggle-chat:focus {
    outline: none;
}

.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1919;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 45px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-circle {
    width: 40px;
    /* Adjust circle size */
    height: 40px;
    background-color: #033e8c;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 5px;
}

.avatar-label {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 12px;
}

.chat-history-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.chat-history {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 3px;
}

.message {
    margin-bottom: 10px;
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0.95em;
}

.message.user {
    align-self: flex-end;
    background-color: #007AFF;
    color: #fff;
    text-align: right;
}

.message.bot {
    align-self: flex-start;
    background-color: rgba(70, 70, 70, 0.8);
    color: #fff;
    text-align: left;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin: 5px;
    position: sticky;
    bottom: 0;
    background-color: #0D0C0C;
    /* Match the background color to avoid overlap issues */
    z-index: 10;
}

.input-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgba(70, 70, 70, 0.8);
    border-radius: 25px;
    padding: 5px;
}

.input-container input[type="text"] {
    flex: 1;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
    min-height: 20px;
    font-size: 0.95em;
}

.send-button {
    background-color: #bfbfbf;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button .fa-arrow-up {
    font-size: 16px;
    color: #0D0C0C;
    transition: transform 0.3s, color 0.3s;
}

.input-container input[type="text"]:focus+.send-button {
    background-color: white;
    /* Change arrow color when input is focused */
}