/* links.css */
.linkbar {
    background-color: #033E8C;
    border: 5px solid #fff;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 50px;
    /* Set the height as needed */
}

.linkbar h1 {
    margin: 0;
    color: white;
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    /* Add margin */
    color: white;
}

.column {
    text-align: center;
    /* Center-align content */
}

.full-image {
    width: 97%;
}

.half-image {
    width: 20%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

/* .col-light-blue {
    background-color: #6CA6D9;
    height: 560px;
    padding-top: 10px;
} */

/* .contact-col-light-blue {
    background-color: #6CA6D9;
    height: 820px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
} */


/* .col-dark-blue {
    background-color: #3365A6;
    height: 560px;
    padding-top: 10px;
} */

.col-2 {
    flex: 1;
}

.col-4 {
    flex: 2;
}

/* .contact-col-light-blue div {
    width: 70%;
    margin-bottom: 15px;
}

.contact-col-light-blue .quote {
    font-size: 1.15em;
    line-height: 1.5;
}

.contact-col-light-blue .author {
    font-size: 1.15em;
    line-height: 1.5;
} */

.col-light-blue h2 {
    text-align: left;
    /* Left-align the heading */
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
}

.col-light-blue p {
    text-align: left;
    /* Left-align the text */
    line-height: 1.5;
    /* Set line height to 1.2 */
    margin-left: 30px;
    font-size: 1.15em;
    color: white;
    /* Set text color to white */
    text-decoration: none;
}

.col-light-blue p:hover {
    text-decoration: none;
    /* Remove underline on hover */
}

.col-light-blue a {
    text-decoration: none;
    /* Remove underline from links */
}


.col-dark-blue h2 {
    text-align: left;
    /* Left-align the heading */
    margin-left: 25px;
    margin-bottom: 20px;
    color: white;
}

.col-dark-blue p {
    text-align: left;
    /* Left-align the text */
    line-height: 1.5;
    /* Set line height to 1.2 */
    margin-left: 25px;
    font-size: 1.15em;
    color: white;
    /* Set text color to white */
    text-decoration: none;
}

.col-dark-blue p:hover {
    text-decoration: none;
    /* Remove underline on hover */
}

.col-dark-blue a {
    text-decoration: none;
    /* Remove underline from links */
}

.label-input-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
}

.label-input-container label {
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.1em;
    width: 500px;
    margin-left: 10px;
}

.label-input-container input,
.label-input-container textarea {
    border: none;
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    width: 500px;
    font-size: 1.1em;
    /* Set font size to 1.2em for all input boxes */
    outline: none;
    border-radius: 15px;
}

.label-input-container textarea.message-textarea {
    height: 200px;
}

.contact-info-container h3 {
    margin: 10px;
    font-size: 1.5em;
}

.contact-info-container {
    margin: 10px;
    margin-bottom: 30px;
}