/* nav.css */
.navbar {
    background-color: #555;
    border: 5px solid #fff;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
    /* Ensure navbar is above most content */
}

.navbar-logo img {
    height: 80px;
    margin: 0;
    margin-right: 20px;
    margin-left: 100px;
}

.navbar-title {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: auto;
    color: #f2f2f2;
}

.navbar-title h2 {
    margin: 0;
    margin-top: 15px;
    font-size: 26px;
    line-height: 1;
}

.navbar-title h3 {
    margin-top: 5px;
    font-size: 20px;
    font-style: italic;
}

.navbar-links {
    display: flex;
    margin-right: 50px;
}

.navbar-link {
    margin-left: 25px;
    text-decoration: none;
    color: #f2f2f2;
}

.navbar-link.active {
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .navbar-links {
        margin-right: 10px;
    }

    .navbar-logo img {
        margin-left: 50px;
    }
}

@media (max-width: 1000px) {
    .navbar-links {
        display: none;
    }

    .sidebar-toggle {
        display: block;
        background: none;
        border: none;
        color: #f2f2f2;
        font-size: 24px;
        cursor: pointer;
        z-index: 2;
        /* Ensure the toggle is above most content */
        margin-right: 10px;
        font-size: 35px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        /* Change to fixed to ensure it covers the entire viewport */
        top: 0;
        right: -250px;
        /* Initially hidden */
        width: 250px;
        height: 100%;
        background-color: #333;
        border-left: 5px solid #fff;
        transition: right 0.3s ease;
        z-index: 1000;
        /* Ensure sidebar is above most content */
        line-height: 1.5;
    }

    .sidebar.open {
        right: 0;
        /* When open, slide in from the right */
    }

    .sidebar-links {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .sidebar-link {
        text-decoration: none;
        color: #f2f2f2;
        margin-bottom: 20px;
    }

    .sidebar-link.active {
        color: #fff;
    }

    .close-sidebar {
        align-self: flex-end;
        background: none;
        border: none;
        color: #f2f2f2;
        font-size: 24px;
        cursor: pointer;
        margin: 20px;
    }
}

@media (min-width: 1001px) {

    .sidebar,
    .sidebar-toggle,
    .close-sidebar,
    .sidebar-links {
        display: none;
        /* Hide sidebar, close button, and sidebar links on larger screens */
    }

    .navbar-links {
        display: flex;
        /* Ensure navbar links are visible on larger screens */
    }
}